/* Error Area  */
.error-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    .error-abs {
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%);
        position: absolute;
        z-index: -1;
    }
}
.bg_image--4 {
    background-position: bottom center;
    @media #{$md-layout} {
        background-position: 26% 33%;
    }
    @media #{$sm-layout} {
        background-position: 26% 33%;
    }
}

.error-area {
    height: 856px;
    display: flex;
    align-items: center;
    background-position: bottom center;
    @media #{$md-layout} {
        height: auto;
        padding: 150px 0;
    }
    @media #{$sm-layout} {
        height: auto;
        padding: 100px 0;
    }
    .inner {
  
        .title {
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 30px;
        }
    }
}

